/* area 1200px */

.main_top {
    width: 1200px;
    margin: 0 auto;
    margin-top: 265px;
    display: flex;
    justify-content: space-between;
    letter-spacing: -1.3px;
}
.main_img img{
    width: 588px;
    position: relative;
}
.text_area {
    width: 486px;
}
.sell_title h2 {
    font-size: 21px;
    color: #333;
    margin-bottom: 12px;
}
.sell_title h3 {
    font-size: 15px;
    font-weight: 350;
    line-height: 21px;
}
.sell_title h6 {
    text-align: right;
    margin-top: 40px;
    font-size: 12px;
    color: #888;
}

.toggle {
    border-top: 1px solid #E0E0E0;
    margin-top: 15px;
    padding-top: 15px;
}
.infor_title h3 {
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.toggle p {
    font-size: 14px;
    line-height: 20px;
    color: #888;
    padding-top: 5px;
}
.infor_title {
    display: flex;
    justify-content: space-between;
}
.plus {
    cursor: pointer;
}
.plus span{
    display: block;
    width: 12px;
    height: 2px;
    background: rgb(43, 43, 43);
}
.plus span:last-child {
    transform: rotate(90deg);
}
.plus span:first-child {
    transform: translateY(2px);
}

.price {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
#price {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.3px;
}
.price p {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.counter button {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 12px;
    background: #fff;
    padding-left: 5px;
    cursor: pointer;
}
.counter button:first-child span {
    display: block;
    width: 12px;
    height: 2px;
    background: #888;
}
.counter button span {
    background: #888;
}
.counter {
    display: flex;
}
#result {
    padding: 0 20px;
}

.get {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    line-height: 1.2;
}
.get p img {
    width: 24px;
    height: 24px;
}
.get span {
    font-size: 12px;
    color: #888;
    font-weight: 300;
    letter-spacing: -2px;
}
.get button {
    width: 160px;
    height: 58px;
    margin-top: 5px;
    border: none;
    background: #000;
    box-shadow: 2px 2px 2px #888;
}
.get button a {
    color: #fff;
}




.product_infor {
    width: 1200px;
    margin: 0 auto;
    margin-top: 180px;
    letter-spacing: -2px;
}
.infor_text h3 {
    font-size: 14.6667px;
    color: #888;
    margin-bottom: 60px;
}
.infor_text h2 {
    font-size: 21.333px;
    line-height: 2;
    margin-bottom: 50px;
    color: #333;
}
.infor_text p {
    font-size: 14.6667px;
    line-height: 1.6;
    color: #888;
}
.product_top img {
    margin-bottom: 5px;
}

.product_infor_01 {
    display: flex;
}
.product_infor_01 .infor_text {padding: 100px 60px 0 100px;}
.product_infor_02 .infor_text {padding: 100px 100px 0 60px;}
.product_infor_03 .infor_text {padding: 100px 60px 0 100px;}


.product_infor_02 {
    display: flex;
}

.product_infor_03 {
    display: flex;
}
.product_infor_03 img {
    width: 600px;
}

.product_infor_03 .infor_text li {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 60px;
}
.product_infor_03 .infor_text li p {
    font-size: 16px;
    color: #333;
    padding-top: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}



/* hiddon  */
.hidden {
    display: none;
    width: 500px;
    background: #eee;
    padding: 50px;
    box-shadow: 5px 5px 5px 5px#888;
    position: absolute;
    top: 300px;
    left: 40%;
    z-index: 2;
}
.hidden_top {
    display: flex;
    justify-content: space-between;
}
.hidden_top h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}
.x span{
    cursor: pointer;
    display: block;
    width: 28px;
    height: 2px;
    background: #000;
}
.x span:last-child {
    transform: rotate(45deg);
}
.x span:first-child {
    transform: rotate(135deg);
}

