body {
    width: 100vw;
    height: 960px;
    margin: 0 auto;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.container {
    width: 1440px;
    margin: 0 auto;
}


/* ==================== */
/* 제품페이지 CSS */

.product h2 {
    font-size: 21px;
    font-weight: bold;
    padding: 20px 0 30px 10px;
}

.top_img img{
    width: 100%;
    margin-bottom: 100px;
}

.product ul{
    display: flex;
    flex-flow: row wrap;
}

.product li {
    letter-spacing: -1px;
    padding: 0 10px;
    margin-bottom: 100px;
}

.product li img{
    width: 460px;
}

.product li h3 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
}

.product li p {
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
}