@charset "utf-8";
body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
#wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    /* 헤더 위치기준값 */
    position: relative;
}

/* === 공통 Header 상단 고정 === */
/* .fix_top {
    width: 100%;
    포지션
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */

/* Aside */
aside {
    width: 100%;
    font-size: 14px;
    text-align: center;
}
aside div {
    height: 36px;
    line-height: 36px;
}
aside .top_sub1 {
    background-color: #252525;
    color: #FFFEF2;
}
aside .top_sub2 {
    background-color: #e5e7eb;
    color: #252525;
}
aside p {
    font-weight: 300;
}

/* Header */
header {
    height: 100px;
    padding: 0 110px;
    background-color: transparent;
}
header .menu_wrap {
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
}
header .menu nav ul {
    /* 플렉스 */
    display: flex;
}
header .menu nav ul li {
    line-height: 100px;
    margin-right: 40px;
    color: black;
}
header .logo {
    /* 정가운데 위치시키기 */
    margin-top: 35px;
    transform: translateX(-50px);
}
header .menu_aside {
    /* 정가운데 위치시키기 */
    margin-top: 35px;
    /* 플렉스 */
    display: flex;
}
header .menu_aside img {
    margin-right: 40px;
    width: 20px;
    height: 20px;
}
header .menu_aside .lang {
    color: black;
}
header .menu_aside .lang ul li:nth-child(1) {
    border-bottom: 1px solid #000 !important;
    padding-bottom: 8px;
}
header .menu_aside .lang ul li:nth-child(2),
header .menu_aside .lang ul li:nth-child(3) {
    /* 로딩시 안 보이게 */
    display: none;
}

/* Menu Hover */
header .menu_hover {
    height: 170px;
    padding: 20px 0 0 20px;
    background-color: #fff;
    opacity: 0.8;
    /* 로딩시 안 보이게 */
    display: none;
}
header .menu_hover .dl_wrap {
    /* 플렉스 */
    display: flex;
}
header .menu_hover .dl_wrap dl {
    margin-right: 40px;
}
header .menu_hover .dl_wrap dl dt {
    font-weight: 700;
    margin-bottom: 20px;
}
header .menu_hover .dl_wrap dl dd {
    font-size: 14px;
    margin-top: 20px;
}
.tab_innovate {
    /* 로딩시 안 보이게 */
    display: none;
}
.tab_involve {
    /* 로딩시 안 보이게 */
    display: none;
}

/* ==================== */
/* 제품페이지 CSS */

.container {
    width: 1440px;
    margin: 0 auto;
}

.product h2 {
    font-size: 21px;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 20px 0 30px 10px;
}

.top_img img{
    /* 장혜리가 추가 */
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}

.product ul{
    display: flex;
    flex-flow: row wrap;
}

.product li {
    /* letter-spacing: -1px; */
    padding: 0 10px;
    margin-bottom: 100px;
}

.product li img{
    width: 460px;
}

.product li h3 {
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}

.product li p {
    font-size: 14px;
    font-weight: 400;
    padding-top: 12px;
}

/* Footer */
footer {
    padding: 80px 110px;
    background-color: #f1f1f1;
}
.first_floor {
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
}
.first_floor .footer_info {
    /* 플렉스 */
    display: flex;
}
.first_floor .footer_info dl {
    font-size: 13px;
    width: 220px;
    margin-left: 40px;
}
.first_floor .footer_info dl:last-child {
    width: 150px;
    margin-left: 100px;
}
.first_floor .footer_info dl dt {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.first_floor .footer_info dl dd {
    margin-top: 15px;
}
.second_floor {
    line-height: 1.5;
    margin-top: 165px;
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
}
.second_floor p:first-child {
    font-size: 13px;
}
.second_floor p:last-child {
    font-size: 11px;
}

/* ======================================= */
/* 미디어쿼리 1024px */
/* ======================================= */
@media screen and (max-width:1024px){
    #wrap {
        max-width: 1024px;
        width: 100%;
    }
    /* Aside */
    aside {
        font-size: 10px;
    }
    /* MAIN CONTENTS */
    .outer {
        margin-bottom: 10px;
        width: 100%;
        max-height: 660px;
        /* inner 텍스트 위치기준값 */
        position: relative;
    }
    .outer .inner {
        width: 100%;
        height: 660px;
        text-align: center;
        color: white;
        padding: 280px 80px 0px;
        /* 포지션 */
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .outer .inner h3 {
        font-size: 26px;
    }
    .outer .inner h4 {
        font-size: 16px;
        font-weight: 300;
        margin: 20px 0 30px;
    }
    .outer .inner p{
        font-size: 12px;
        font-weight: 300;
        margin: 50px 0 0;
    }
    .outer .inner span{
        font-size: 12px;
        font-weight: 300;
        margin: 50px 0 0;
    }
    /* Swiper */
    .press {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 200px;
    }
    .swiper-slide .slide_img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        /* 정보 셀로판지 효과 위치기준값 */
        position: relative;
    }
    .swiper-slide img {
        width: 100%;
        height: 100%;
    }
    /* Footer */
    footer {
        padding: 80px 110px;
        background-color: #f1f1f1;
    }
    .footer_logo {
        width: 30%;
    }
    .first_floor {
        /* 플렉스 */
        display: flex;
        justify-content: space-between;
    }
    .first_floor .footer_info {
        width: 500px;
        width: 60%;
        /* 플렉스 */
        display: flex;
        flex-flow: row wrap;
    }
    .first_floor .footer_info dl {
        font-size: 13px;
        width: 200px;
        width: 45%;
        margin-left: 50px;
        margin-left: 4%;
    }
    .first_floor .footer_info dl:nth-child(3),
    .first_floor .footer_info dl:last-child {
        margin-top: 30px;
    }
    .first_floor .footer_info dl:last-child {
        width: 200px;
        width: 45%;
        margin-left: 50px;
        margin-left: 4%;
    }
    .first_floor .footer_info dl:last-child dt {
        cursor: pointer;
    }
    .first_floor .footer_info dl:last-child dd {
        /* 로딩시 숨기기 */
        display: none;
    }
    .first_floor .footer_info dl dt {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }
    .first_floor .footer_info dl dd {
        margin-top: 15px;
    }
    .second_floor {
        line-height: 1.5;
        margin-top: 165px;
        /* 플렉스 */
        display: flex;
        flex-flow: column wrap;
    }
    .second_floor p:first-child {
        font-size: 12px;
    }
    .second_floor p:last-child {
        margin-top: 10px;
        font-size: 9px;
    }
    /* .lang2 .icon_fchange i {
        text-align: right;
    } */
}