@charset "utf-8";
#wrap {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid lightgray;
}
header {
    border-bottom: 1px solid lightgray;
    height: 50px;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
}
header>h1{
    width: 600px;
    line-height: 50px;
    /* 플롯 */
    float: left;
    font-weight: bold;
   
}
header>.btn {
    margin-top: 3px;
    text-align: right;
    /* 플롯 */
    float: right;
}
.open {
    margin-left: 10px;
    
    width: 50px;
    border: 1px solid lightgray;
}
.closed {
    margin-left: 10px;
    width: 50px;
    border: 1px solid lightgray;
}
main h2{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
}
header button{
    width: 80px;
    font-size: 12px;
    border:none;
    
}
button {
    font-size: 12px;
    width: 50px;
    height: 30px;
    border: 0;
    outline: 0;
}
main h3 {
    font-weight: 500;
    padding-left:15px ;
    padding-top:15px ;
    padding-bottom:25px ;
}
main p {
    background-color: rgb(194, 192, 192);
    margin-left:35px ;
    margin-right:35px ;
    margin-top:15px ;
    margin-bottom:25px ;
}
footer {
    font-weight: bold;
    text-align: center;
}
span {
    color:orange;
}